:root{
    --slate:#434455;
    --cloud: #F4F4FD;
    --navyblue:#2E2F42;
    --iris:#4D5AE5;
    --white:#FFFFFF;
    --ocean:#404BBF;
}
body{
    font-family: 'Roboto',sans-serif;
    font-size: 400;
    color:var(--slate);
    background-color: var(--white);
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.32px;
}
button{
    cursor: pointer;
    color: var(--iris);
    background-color: var(--cloud);
}
button:hover,
button:focus{
    color: var(--white);
    background-color: var(--ocean);
}
p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
a {
    text-decoration: none;
    color: var(--navyblue);
    font-weight: 500;
}
a:hover,
a:focus{
    color: var(--iris);
    text-decoration: underline;
}
ul{
    list-style-type: none;
}
h1{
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}
h2{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
/* Nav */
/* Logo */
.link{
    text-decoration: none;
    color: var(--iris);
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.link:focus,
.link:hover{
    color:var(--ocean)
}
.link-span{
    color: var(--navyblue);
}
.list{
    list-style: none;
}
.list-studio{
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.link-studio{
    text-decoration: none;
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.list-studio:focus,
.list-studio:hover{
    color:var(--ocean)
}
.link-address{
font-style: normal;
}
.contacts{
    color: var(--slate);
    font-weight: 400;
}
.contacts:focus,
.contacts:hover{
    color:var(--ocean);
}
/* Hero section */
.hero {
    background-color:var(--navyblue);
}
.button-order{
    background-color: var(--iris);
    color:var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    font-family: 'Roboto',sans-serif;
}
/* Advant section */
.advantages-text{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.advantages-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--navyblue);
}
/* work section */
.work{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--navyblue);
}
/* Section team */
.section-team{
background-color: var(--cloud);
}
.team{
    color: var(--navyblue);
}
.team-item{
    background-color: var(--white);
}
.team-human{
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.team-text{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--slate);
}
/* footer */
.foot{
    background-color:var(--navyblue);
}
.footer-text {
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.foot-span{
    color: var(--cloud);
}

