:root{
    --slate:#434455;
    --cloud: #F4F4FD;
    --navyblue:#2E2F42;
    --iris:#4D5AE5;
    --white:#FFFFFF;
    --ocean:#404BBF;
}
body{
    font-family: 'Roboto';
    font-size: 400;
    color:var(--navyblue);
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.32px;
}
button{
    cursor: pointer;
    color: var(--iris);
    background-color: var(--cloud);
}
button:hover,
button:focus{
    color: var(--white);
    background-color: var(--ocean);
}
p{
    color:var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
a {
    text-decoration: none;
    color: var(--navyblue);
    font-weight: 500;
}
a:hover,
a:focus{
    color: var(--iris);
    text-decoration: underline;
}
ul{
    list-style-type: none;
}
h1{
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}
h2{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
/* Logo */
.logo{
    text-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.25);
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-top{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-web{
    color: var(--iris);
}
.contacts{
    color: var(--slate);
    font-weight: 400;
}
/* Hero section */
.hero {
    background-color:var(--navyblue);
}
.button-order{
    background-color: var(--iris);
    color:var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

/* Section team */
.section-team{
background-color: var(--cloud);
}

/* footer */
footer{
    background-color:var(--navyblue);
}
.footer-text {
    color: var(--white);
}
.logo-footer {
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
